geral
body {
  background-color: #EDEDED;
}

.nav-header-bg {
  background-color: #82cbab;
}

.font-logo {
  color: #1c1c1c;
}

.logo-img-header {
  width: 15%;
}








/* home */








/* profile */







/* login */
btn-color{
  background: black;
}
#font-logo{
  color: #1c1c1c

}

@media(min-width: 768px) {
}
@media(min-width: 992px) {
}

#input-email, #input-password{
  border: none; 
  border-bottom: 1px solid grey;
}

/* register */












/* offer */











/* mypage */









