/* geral */
body {
    background-color: #EDEDED;
}

.nav-header-bg {
    background-color: #82cbab;
}

.font-logo {
    color: #1c1c1c;
}

.logo-img-header {
    width: 15%;
}








/* home */

.menu-group {
    display: flex;
    justify-content: space-around
}

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

.input-group-append {
    position: absolute;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-search {
    position: absolute;
    z-index: 2;
    display: block;
    width: 25.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.carousel, .mus-home {
    background-color: #1c1c1c;
}

.card {
  border-radius: 4.2rem;
  
  opacity: 1;
  box-shadow: 0 2px 15px 1px rgba(189, 184, 184, 0.5);
}

.card:hover {
    opacity: 0.5;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    height: 50%;
}

.img-square-wrapper {
    width: 30%;
    margin: 6px;
}

.card-img {
    width: 50%;
    border-radius: 5rem;
    margin: 5px;

}

.text-muted {
    display: flex;
    justify-content: center;
}






/* profile */







/* login */








/* register */












/* offer */











/* mypage */









